In [1]:
import json
import pandas as pd

# Load the player/team data
with open("../data/bootstrap-static.json") as f:
    data = json.load(f)

In [5]:
# 'elements' contains the list of all players
players = pd.DataFrame(data["elements"])
players.head()

# Simplify the view
players_simple = players [[
        "first_name", "second_name", "team", "now_cost", "total_points", "minutes", "form", "selected_by_percent"
]].copy()
players_simple.head()

,first_name,second_name,team,now_cost,total_points,minutes,form,selected_by_percent
0,Fábio,Ferreira Vieira,1,54,0,0,0.0,0.0
1,Gabriel,Fernando de Jesus,1,65,42,600,0.0,1.1
2,Gabriel,dos Santos Magalhães,1,64,116,2348,3.5,30.8
3,Kai,Havertz,1,77,96,1839,0.0,5.9
4,Karl,Hein,1,40,0,0,0.0,0.0

In [12]:
# Load team info
teams = pd.DataFrame(data["teams"])

# Create a hashmap from team ID to team name
team_id_map = dict(zip(teams["id"], teams["name"]))

# Add team name to player data
players_simple["team_name"] = players["team"].map(team_id_map)

# Show updated player info
players_simple[["first_name", "second_name", "team_name", "now_cost", "total_points"]].head()

  first_name           second_name team_name  now_cost  total_points
0      Fábio       Ferreira Vieira   Arsenal        54             0
1    Gabriel     Fernando de Jesus   Arsenal        65            42
2    Gabriel  dos Santos Magalhães   Arsenal        64           116
3        Kai               Havertz   Arsenal        77            96
4       Karl                  Hein   Arsenal        40             0

In [15]:
# Load position info
positions = pd.DataFrame(data["element_types"])

# Map element type 1-5 to position names
position_map = dict(zip(positions["id"], positions["singular_name"]))

# Add position to player data
players_simple["position"] = players["element_type"].map(position_map)

# Preview the result
players_simple[["first_name", "second_name", "team_name", "position", "now_cost", "total_points"]].head()

,first_name,second_name,team_name,position,now_cost,total_points
0,Fábio,Ferreira Vieira,Arsenal,Midfielder,54,0
1,Gabriel,Fernando de Jesus,Arsenal,Forward,65,42
2,Gabriel,dos Santos Magalhães,Arsenal,Defender,64,116
3,Kai,Havertz,Arsenal,Forward,77,96
4,Karl,Hein,Arsenal,Goalkeeper,40,0